*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --grisOscuro:rgb(130, 130, 130);
    --fondoTarjeta:rgb(217, 217, 217);
    --azulOscuro:rgb(0, 0, 126);
}

a:link, a:visited{
    color: black;
    text-decoration: underline;
    transition: 0.2s ease-in-out;

    &:hover{
        font-size: 1.3em;
    }
}

.grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding: 2%;
    border-top: 2px solid var(--grisOscuro);
}
.grid_carrito{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 2%;
    border-top: 2px solid var(--grisOscuro);
}

header{
    display: flex;
    justify-content: space-between;
    margin: 2%;

    .separador_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 16%;
    }
}
.barra_opciones{
    display: flex;
    justify-content: space-evenly;
    margin: 1% 2% 3%;
}

.buscador{
    margin: 2%;
}

.tarjeta_producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--fondoTarjeta);
    margin: 1%;
    padding: 2%;
    border-radius: 20px;
    line-height: 200%;

    img{
        width: 250px;
        border-radius: 20px;
    }

    .mas_menos{
        width: 10%;
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        font-size: 1.3em;
        a:link, a:visited{
            text-decoration: none;
            transition: 0.2s ease-in-out;
        
            &:hover{
                font-size: 1.3em;
            }
        }

        .mas{
            color: green;
        }
        .menos{
            color: red;
        }
    }
}

.tarjeta_tienda{
    background-color: var(--fondoTarjeta);
    margin: 2%;
    padding: 1%;
}
.tarjeta_reserva{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--fondoTarjeta);
    margin: 2%;
    padding: 1%;
}

/* PANEL ADMINISTRADOR */
.separador_admin{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 2%;

    .parte_usuarios{
        .tarjeta_usuario{
            background-color: var(--fondoTarjeta);
            margin: 2%;
            padding: 1%;
        }
    }
    .parte_productos{
        .grid_productos_admin{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            padding: 2%;
        }
    }
}

/* PAGINA REGISTRO/LOGIN */
.cuerpo_registro{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .formulario_registro{
        display: flex;
        flex-direction: column;
        text-align: center;
        p{
            margin: 11%;
        }

        input[type="submit"]{
            background-color: var(--fondoTarjeta);
            border-radius: 20px;
            width: 70%;
            padding: 2%;
            margin: 2%;
            transition: 0.2s ease-in-out;

            &:hover{
                cursor: pointer;
                color: white;
                background-color: var(--azulOscuro);
            }
        }
    }
    .formulario_login{
        display: flex;
        flex-direction: column;
        text-align: center;
        p{
            margin: 6%;
        }

        input[type="submit"]{
            background-color: var(--fondoTarjeta);
            border-radius: 20px;
            width: 70%;
            padding: 2%;
            margin: 2%;
            transition: 0.2s ease-in-out;

            &:hover{
                cursor: pointer;
                color: white;
                background-color: var(--azulOscuro);
            }
        }
    }
}
