/* Álvaro García Salvatierra */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    /* Fondo */
    --gris:#D7DFDF;
    
    /* Otros */
    --azulosc:#232F4A;
    
    /* Call Of Action */
    --naranja:#DE6F2E;

    /* Errores y otros */
    --rojo:#D63939;
    
    /* Texto Alternativo */
    --azulcla:#344A7A;

    /* Bordes y texto */
    --negro:#000000;
}

body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    min-height: fit-content;
    min-width: fit-content;
}

body{
    background-color: var(--gris);
    display: flex;
    flex-direction: column;

    /* Titulo */
    & >div.titulo{
        display: flex;
        background-color: var(--azulosc);
        height: 10%;
        align-items: center;

        & a{
            display: flex;
            align-items: center;
            text-decoration: none;
            margin-left: 2.5%;

            & i{
                transition: all 0.4s ease-in-out;
                font-size: 3.5em;
                color: var(--naranja);
            }

            & h1{
                transition: all 0.4s ease-in-out;
                color: var(--gris);
                font-size: 3em;
                text-wrap: nowrap;
                margin-left: 5%;
            }

            &:hover{

                & i{
                    color: var(--gris);
                }

                & h1{
                    color: var(--naranja);
                }
            }
        }
        
    }

    /* Cuerpo principal */
    & >div.contenido{
        display: flex;
        justify-content: center;
        height: 90%;

        & >div.barraLateral{
            display: flex;
            background-color: var(--azulosc);
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            overflow: auto;
            width: 8%;
            height: 100%;

            & a.botonEnlace{
                text-decoration: none;
                color: var(--gris);
                font-size: 2.5vw;
                background-color: var(--naranja);
                border-radius: 50%;
                width: 60%;
                height: 12%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.4s ease-in-out;

                &:hover{
                    background-color: var(--gris);
                    color: var(--naranja);
                }
            }
        }
    
        /* Main donde se ve el contenido de la página */
        & main{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 92%;
            height: 100%;
            padding: 1%;

            /* Formulario Login */
            & form.login{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                background-color: var(--azulosc);
                border-radius:20px;
                width: 30%;
                height: 50%;

                & p{
                    display: flex;
                    flex-direction: column;
                    color: var(--gris);

                    & label{
                        font-size: 1.8em;
                        padding: 1%;
                    }

                    & input{
                        border: 0px;
                        border-radius: 10px;
                        font-size: 1.5em;
                        padding: 1%;
                    }
                }

                & input[type=submit]{
                    background-color: var(--naranja);
                    color: var(--gris);
                    font-size: 1.8em;
                    border-radius: 10px;
                    padding: 2%;
                    border: 0px;
                    transition: all 0.4s ease-in-out;

                    &:hover{
                        cursor: pointer;
                        background-color: var(--gris);
                        color: var(--naranja);
                    }
                }
            }

            /* Contenedor dentro del main si lo hay */
            & div.contenedor{
                background-color: var(--azulcla);
                color: var(--gris);
                padding: 5%;
                border-radius: 20px;
                width: 80%;
                height: 85%;
            }

            /* Estilo de Ajax General */
            & .ajax{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                /* Titulo de la pagina */
                & >h1{
                    font-size: 3em;
                    color: var(--azulcla);
                }

                /* Cabecera con el buscador y boton de creación */
                & div.ajax{
                    width: 100%;
                    height: 12%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding-top: 1%;
                    padding-bottom: 1%;

                    /* Barra de buscador */
                    & div.buscador{
                        height: 100%;
                        width: 25%;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        background-color: var(--azulcla);
                        color: var(--gris);

                        /* Buscador en si */
                        & input#buscador{
                        background-color: var(--azulcla);
                        color: var(--gris);
                        border: none;
                        width: 85%;
                        height: 100%;
                        margin-left: 2%;
                        font-size: 1.2em;

                            &:focus{
                                outline: none;
                                border: none;
                            }
                            &::placeholder{
                                color: var(--gris);
                            }
                        }

                        /* Icono del buscador */
                        & i{
                            margin-right: 2%;
                            color: var(--naranja);
                            font-size: 1.2em;
                        }
                    }

                    /* Botón de creación */
                    & a{
                        width: 20%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        border: 2px solid var(--gris);
                        outline: 2px solid var(--naranja);
                        border-radius: 10px;
                        font-size: 1.2em;
                        color: var(--gris);
                        background-color: var(--naranja);
                        transition: all 0.4s ease-in-out;
                        text-wrap: nowrap;

                        &:hover{
                            border: 2px solid var(--naranja);
                            outline: 2px solid var(--gris);
                            color: var(--naranja);
                            background-color: var(--gris);
                        }
                    }
                }

                /* Contenedor con los resultados del ajax */
                & div#resultados_busqueda{
                    width: 100%;
                    height: 87%;
                    margin-top: 1%;
                    overflow-y: auto;
                    transition: all 0.8s ease-in-out;

                    /* Para evitar un parpadeo que ocurre al generar resultados le damos clases para hacer visible e invisible con transiciones el elemento */
                    &.invisible{
                        opacity: 0;
                        &>*{
                            opacity: 0;
                        }
                    }
                    &.visible{
                        opacity: 1;
                        &>*{
                            opacity: 1;
                        }
                    }

                    /* Resultado de ajax */
                    & .resultado{
                        width: 100%;
                        height: 20%;
                        background-color: var(--azulcla);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 1%;
                        color: var(--gris);
                        font-weight: bold;
                        border: 1px solid var(--gris);
                        transition: all 0.8s ease-in-out;
                        font-size: 1.5em;
                
                        /* Enlaces dentro de los resultados */
                        & div.divBotones{
                            width: 20%;
                            display: flex;
                            justify-content: space-between;
                            margin-right: 2%;
                            
                            & a{
                                text-decoration: none;
                                color: var(--naranja);
                                transition: all 0.4s ease-in-out;

                                &:hover{
                                    font-size: 1.3em;
                                }

                                &.eliminar{
                                    color: var(--rojo);
                                }
                            }
                        }
                    }
                }
            } 

            /* Estilo de Ajax de tareas */
            & .ajaxTareas{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                /* La cabecera esta vez no es solo el titulo, sino que el boton va incluido junto a él */
                & div.cabeza{
                    width: 100%;
                    display: grid;
                    grid-template-columns: 6fr 1fr;

                     /* Titulo de la pagina */
                    & h1{
                        font-size: 3em;
                        color: var(--azulcla);
                        justify-self: center;
                    }

                    /* Botón de creación */
                    & a{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        border: 2px solid var(--gris);
                        outline: 2px solid var(--naranja);
                        border-radius: 10px;
                        font-size: 1.2em;
                        color: var(--gris);
                        background-color: var(--naranja);
                        transition: all 0.4s ease-in-out;
                        text-wrap: nowrap;

                        &:hover{
                            border: 2px solid var(--naranja);
                            outline: 2px solid var(--gris);
                            color: var(--naranja);
                            background-color: var(--gris);
                        }
                    }

                }

                & div.cuerpo{
                    width: 100%;
                    height: 100%;
                    margin-top: 1%;
                    display: flex;
                    flex-direction: column;

                    /* Barras desplegables */
                    & .barra{
                        width: 100%;
                        height: 10%;
                        display: grid;
                        grid-template-columns: 1fr 6fr;
                        align-items: center;
                        background-color: var(--azulcla);
                        color: var(--gris);
                        font-size: 1.8em;
                        border: 1px solid var(--gris);
                        
                        /* Parrafo con el nombre */
                        & p.nombre{
                            text-align: center;
                        }

                        & i.fa-greater-than{
                            width: fit-content;
                            margin-left: 40%;
                            transition: all 0.4s ease-in-out;

                            &:hover{
                                cursor: pointer;
                            }
                        }

                        & i.rotado{
                            transform: rotate(90deg);
                        }

                        &+div{
                            transition: all 0.4s ease-in-out;
                            border: 1px solid var(--gris);
                            opacity: 0;
                            height: 0%;

                            &.visible{
                                width: 100%;
                                height: 40%;
                                opacity: 1;
                                transition: all 0.4s ease-in-out;
                            }
                        }
                    }
                }                

                & div.ajax{
                    width: 100%;
                    height: 25%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 1%;
                    padding-bottom: 1%;

                    /* Barra de buscador */
                    & div.buscador{
                        height: 100%;
                        width: 25%;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        background-color: var(--azulcla);
                        color: var(--gris);

                        /* Buscador en si */
                        & input#buscador{
                        background-color: var(--azulcla);
                        color: var(--gris);
                        border: none;
                        width: 85%;
                        height: 100%;
                        margin-left: 2%;
                        font-size: 1.2em;

                            &:focus{
                                outline: none;
                                border: none;
                            }
                            &::placeholder{
                                color: var(--gris);
                            }
                        }

                        /* Icono del buscador */
                        & i{
                            margin-right: 2%;
                            color: var(--naranja);
                            font-size: 1.2em;
                        }
                    }
                }

                /* Contenedor con los resultados del ajax */
                & div#resultados_busqueda_C,div#resultados_busqueda_P{
                    width: 100%;
                    height: 72%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    margin-top: 1%;
                    overflow-y: auto;
                    transition: all 0.8s ease-in-out;

                    /* Para evitar un parpadeo que ocurre al generar resultados le damos clases para hacer visible e invisible con transiciones el elemento */
                    &.invisible{
                        opacity: 0;
                        &>*{
                            opacity: 0;
                        }
                    }
                    &.visible{
                        opacity: 1;
                        &>*{
                            opacity: 1;
                        }
                    }

                    /* Resultado de ajax */
                    & .resultado{
                        /* ! TERMINAR VISTA DE LOS RESULTADOS PARA DEJARLO COMO EL MOCKUP */
                        width: 100%;
                        height: 100%;
                        background-color: var(--azulcla);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 1%;
                        color: var(--gris);
                        font-weight: bold;
                        border: 1px solid var(--gris);
                        transition: all 0.8s ease-in-out;
                        font-size: 1.5em;
                
                        /* Enlaces dentro de los resultados */
                        & div.divBotones{
                            width: 20%;
                            display: flex;
                            justify-content: space-between;
                            margin-right: 2%;
                            
                            & a{
                                text-decoration: none;
                                color: var(--naranja);
                                transition: all 0.4s ease-in-out;

                                &:hover{
                                    font-size: 1.3em;
                                }

                                &.eliminar{
                                    color: var(--rojo);
                                }
                            }
                        }
                    }
                }
            } 
        }
    }
}